<h1>Stats</h1>

<h3>Average Trip Duration: <%= @trips.average_duration %></h3>
<h3>Longest Ride: <%= @trips.longest_ride %></h3>
<h3>Shortest Ride: <%= @trips.shortest_ride %></h3>

<h3>Station With the Most Rides as a Starting Place: <%= @trips.most_rides_starting.name %></h3>
<h3>Station With the Most Rides as an Ending Place: <%= @trips.most_rides_ending.name %></h3>
<h3>Month by Month Breakdown of Number of Rides with Subtotals for Each Year: <%= @trips.month_by_month %></h3>
 <h3>Most Ridden Bike with Total Number of Rides for that Bike: Bike: <%= @trips.most_ridden_bike %>, Rides: <%= @trips.most_rides_on_a_bike %></h3>
<h3>Least Ridden Bike with Total Number of Rides for that Bike: Bike: <%= @trips.least_ridden_bike %>, Rides: <%= @trips.least_rides_on_a_bike %></h3>
<h3>User Subscription Type breakout with both Count and Percentage:</h3>
<ul>
  <li>Subscribed: <%= @trips.number_of_subscribed %></li>
  <li>Percent of People with Subscriptions: <%= @trips.percentage_of_subscribed %>%</li>
  <li>Customers: <%= @trips.number_of_customers %></li>
  <li>Percent of People without Subscriptions: <%= @trips.percentage_of_customers %>% </li>
</ul>
<h3>Single Date with Highest Number of Trips with a Count of those Trips: <%= @trips.date_with_most_rides %></h3>
 <h3>Single Date with Lowest Number of Trips with a Count of those Trips: <%= @trips.date_with_least_rides %></h3>
