
<div class = "container">

  <h1>Edit Trip</h1>


<form action='/trips/<%= @trip.id %>' method = "POST">
  <input class = "form-control" type="hidden" name="_method" value="PUT" />
  <div class = "form-group">
    <label for="">Start Station</label><br>
    <select class = "form-control" name="trip[start_station_id]">
      <% @stations.each do |station| %>
        <% if station.id == @trip.start_station_id %>
          <option value="<%= station.id %>" selected><%= station.name %></option>
        <% else %>
          <option value="<%= station.id %>" ><%= station.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div class = "form-group">
    <label for="">Start Date</label><br>
    <input class = "form-control" type="textfield" name="trip[start_date]" value="<%= @trip.formatted_start_date %>">
  </div>

  <div class = "form-group">
    <label for="">End Station</label><br>
    <select class = "form-control" name="trip[end_station_id]">
      <% @stations.each do |station| %>
        <% if station.id == @trip.end_station_id %>
          <option value="<%= station.id %>" selected><%= station.name %></option>
        <% else %>
          <option value="<%= station.id %>" ><%= station.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div class = "form-group">
    <label for="">End Date</label><br>
    <input class = "form-control" type="textfield" name="trip[end_date]" value="<%= @trip.formatted_start_date %>">
  </div>

  <div class = "form-group">
    <label for="">Bike ID</label><br>
    <input class = "form-control" type="textfield" name="trip[bike_id]" value="<%= @trip.bike_id %>">
  </div>

  <div class = "form-group">
    <label for="">Subscription Type</label><br>
    <select class = "form-control" name="trip[subscription_type]">
      <% @subscription_type_list.each do |subscription_type| %>
        <% if subscription_type == @trip.subscription_type %>
          <option value="<%= subscription_type %>" selected><%= subscription_type.capitalize %></option>
        <% else %>
          <option value="<%= subscription_type %>" ><%= subscription_type.capitalize %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div class = "form-group">
    <label for="">Zip Code</label><br>
    <input class = "form-control" type="textfield" name="trip[zip_code]" value="<%= @trip.zip_code %>"><br><br><br>
  </div>
  <input class="btn btn-success" type="submit" value="Submit" />
</form>
</div>
