<div class = "container">

  <table class="table ">
    <tr>
      <th>Start Station</th>
      <th>End Station</th>
      <th>Duration</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Bike ID</th>
      <th>Subscription Type</th>
      <th>Zip Code</th>
    </tr>
    <tr>
      <td class="start-station"><%= @trip.start_station.name %></td>
      <td class="end-station"><%= @trip.end_station.name %></td>
      <td class="duration"><%= @trip.duration %></td>
      <td class="start-date"><%= @trip.formatted_start_date %></td>
      <td class="end-date"><%= @trip.formatted_end_date %></td>
      <td class="bike-id"><%= @trip.bike_id %></td>
      <td class="subscription-type"><%= @trip.subscription_type %></td>
      <td class="zip-code"><%= @trip.zip_code %></td>
    </tr>
  </table>

</div>
