
<div class="container">
  <h1>Stats</h1>
  <table class="table">
    <tr>
      <th>Analysis</th>
      <th>Data</th>
    </tr>

    <tr>
      <td id='station_count'>Total count of stations</td>
      <td><%= @stations.count %></td>
    </tr>
    <tr>
      <td id='average_bikes'>Average bikes available per station</td>
      <td><%= @stations.average_bikes_per_station %></td>
    </tr>
    <tr>
      <td id='most_bikes_at_station'>Most bikes available at a station</td>
      <td><%= @stations.maximum(:dock_count) %></td>
    </tr>
    <tr>
      <td id='stations_with_most_bikes'>Stations where the most bikes are available:</td>
      <td>
        <ul>
        <% @stations.with_most_bikes.each do |station| %>
          <li>
            <%= station.name %>
          </li>
        <% end %>
      </ul>
    </td>
    </tr>
    <tr>
      <td id='fewest_bikes_at_station'>Fewest bikes available at a station:</td>
      <td><%= @stations.minimum(:dock_count) %></td>
    </tr>
    <tr>
      <td id='stations_with_fewest_bikes'>Stations where the fewest bikes are available</td>
      <td>
        <ul>
        <% @stations.with_fewest_bikes.each do |station| %>
          <li>
            <%= station.name %>
          </li>
        <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td id='newest_station'>Newest station</td>
      <td><ul>
        <% @stations.newest.each do |station| %>
          <li>
            <%= station.name %>
          </li>
        <% end %>
      </ul></td>
    </tr>
    <tr>
      <td id='oldest_station'>Oldest station</td>
      <td><ul>
        <% @stations.oldest.each do |station| %>
          <li>
            <%= station.name %>
          </li>
        <% end %>
      </ul></td>
    </tr>
  </table>
</div>
