<h1>Stats</h1>

<h4>Total count of stations: <%= @stations.count %></h4>
<h4>Average bikes available per station: <%= @stations.average(:dock_count).round(0).to_i %></h4>
<h4>Most bikes available at a station: <%= @dock_max %></h4>
<h4>Stations where the most bikes are available: </h4>
<ul>
  <% @stations.where(dock_count: @dock_max).each do |station| %>
    <li>
      <%= station.name %>
    </li>
  <% end %>
</ul>
<h4>Fewest bikes available at a station: <%= @dock_min %></h4>
<h4>Stations where the fewest bikes are available: </h4>
<ul>
  <% @stations.where(dock_count: @dock_min).each do |station| %>
    <li>
      <%= station.name %>
    </li>
  <% end %>
</ul>
<h4>Newest station: <%= @stations.maximum(:installation_date) %></h4>
<h4>Oldest station: <%= @stations.minimum(:installation_date) %></h4>
