<div class="container">
  <table class="table">
    <tr>
      <th>Station Name</th>
      <th>City</th>
      <th>Dock Count</th>
      <th>Installation Date</th>
    </tr>
    <tr>
      <td class="station-name"><%= @station.name %></td>
      <td class="city"><%= @station.city.name%></td>
      <td class="dock"><%= @station.dock_count%></td>
      <td class="install_date"><%= @station.installation_date%></td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <th>Analysis</th>
      <th>Data</th>
    </tr>
    <tr>
      <td>Number of Rides Started at this Station:</td>
      <td><%= @station.trips_started.count %></td>
    </tr>
    <tr>
      <td>Number of Rides Ended at this Station</td>
      <td><%= @station.trips_ended.count %></td>
    </tr>
    <tr>
      <td>Most Frequent Destination Station (for rides that began at this station)</td>
      <td><%= @station.most_frequent_destination_station.name %></td>
    </tr>
    <tr>
      <td>Most Frequent Origination Station (for rides that ended at this station)</td>
      <td><%= @station.most_frequent_starting_station.name %></td>
    </tr>
    <tr>
      <td>Date with Highest Number of Trips Started at this Station</td>
      <td><%= @station.date_with_highest_number_of_trips %></td>
    </tr>
    <tr>
      <td>Most Frequent Zip Code for Users Starting Trips at this Station:</td>
      <td><%= @station.most_frequent_zip %></td>
    </tr>
    <tr>
      <td>Bike ID Most Frequently Starting a Trip at this Station: </td>
      <td><%= @station.most_frequent_bike %></td>
    </tr>
  </table>
</div>
